<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Back to work!</title>

  <!-- Bootstrap -->
  <link href="static/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/components/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <style>
    .quotearea {
        width: 800px;
        height: 600px;
        margin: auto;
        padding-top: 5em;
    }
    .quote {
        font-family: serif;
        font-size: 24pt;
        font-style: italic;
    }
    .author {
        font-family: serif;
        font-size: 20pt;
        text-align: right;
    }
  </style>
</head>

<body role="document">
<div class="container theme-showcase" role="main">
  <div class="quotearea">
      <p class="quote">{{quotation}}</p>
      <p class="author">―{{author}}</p>
  </div>

</div>

</body>
</html>

